body {
    background: #cccccc;
}
p {
    color: #222222;    
}
.foto-principal { 
    width: 200px;   
    border-radius: 50% ; 
    border: 2px solid #ffffff; /* shorthand*/
    margin: 30px;
    padding: 10px;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;    
    */
}