body {
    background-color: #d6d6d6;
    color: #363636;
    margin: 0;
    
}
.imagem-principal {
    border-radius: 50%;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px #8b8787;
}
.container {
    width: 900px;
    margin: 0 auto;
    font-size: large;
    font-family: 'Raleway', sans-serif;
}
.sobre-mim{
    margin-left: 20px;
}
.cachorro-doido {
    font-style: italic;
    font-weight: 100;
}
.social-logo {
    width: 30px;
    box-shadow: 0px 0px 10px 2px #999898;
    border-radius: 50%;
    margin: 0px 10px;
}
.social-link {
    text-decoration: none;
}
.bodyz {
    text-align: center;
}
.important-info {
    text-align: center;
}
.empresas {
    margin-bottom: 0;
}
.job-list {
    list-style: none;
    margin-top: 0;
    margin-left: -20px;
}
.empresa {
    margin-bottom: 0;
    margin-top: 5px;
}
.cargo {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    font-style: italic;
}
.texto-de-trabalho {
    margin-top: 0;
}
.footer {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}
