body {
    background: #cccccc;
    font-family: 'Raleway', sans-serif;
    color: #222222ca; 
    margin: 0%; 
}

.container {
    width: 900px;
    margin: 0 auto;
}
.profile {
    text-align: center;
    margin-bottom: 30px;
}

.foto-principal { 
    width: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 30px;
    box-shadow: 0px 0px 10px #a7a7a7;
    margin-bottom: 0;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;    
    */
}
h1 {
    margin-bottom: 0;
    margin-top: 5px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: #686868;
    font-weight: 100;
    letter-spacing: -1px;
}

h4 {
    margin-bottom: 5px;
    margin-top: 0px;
}
h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}
.social-icon {
    width: 20px;
}

.social-link {
    text-decoration: none;
}
.instagram {
    margin: 0px 15px 0 15px;
}
.job-list {
list-style: none;
padding-left: 20px;
}
.job-title {
    margin-bottom: 0px;
}
.job-text {
    margin-top: 0px;
}
.footer {
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px 0;
}